@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Open+Sans:wght@300&family=Poppins:wght@100;200;300;400&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
.slide {
  display: none;
}
::-webkit-scrollbar {
  display: none;
}

/* Image Slider */
.slide-container {
  display: none;
}

.slide-container.active {
  display: block;
}
.profil-container {
  display: none;
}

.profil-container.active {
  display: block;
}

header {
  background: rgba(0, 130, 230, 0.8);
  height: 80px;
  width: 100%;
}
label.logo {
  color: white;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
  position: relative;
}
nav ul li a {
  color: white;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
nav ul li a::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 0;
  height: 2px;
  background-color: white;
  margin: auto;
  display: block;
}

nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s linear;
}
.ul-nav a.active,
.ul-nav a:hover {
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    padding-left: 50px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  .ul-nav a:hover,
  .ul-nav a.active {
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

/* logo */
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  overflow: hidden;
  padding: 60px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos-slide {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logos-slide img {
  height: 50px;
  margin: 0 40px;
}
